:root {
    --color-primary: #FFFFFF;
    --color-secondary: #00008B;
    --third-color: #0000CD;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--color-primary);
    background-image: url("/images/background-home-desktop.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

/* HEADER */ 

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0 0 3rem;
}

.header .nav {
    background-color: rgba(255,255,255, 0.05);
    width: 60vw;
    height: 12vh;
    border-bottom-left-radius: 2rem ;
}

.header .nav ul {
    display: flex;
    justify-content: space-around;
    padding: 3rem;
    gap: 1rem;
}

.header .nav ul li {
    list-style-type: none;
    height: 7vh;
}

.header .nav ul li a {
    text-decoration: none;
    color: var(--color-primary);
}
 
.header .nav ul li:hover {
    border-bottom: 1px solid white;
}  

/* MAIN */

.conteudo .box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid black;
    height: 70vh;
    margin-top: 2rem;
}









