:root {
    --color-primary: #FFFFFF;
    --color-secondary: #00008B;
    --third-color: #0000CD;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--color-primary);
    background-image: url("/images/background-home-desktop.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Karla', sans-serif;
}

/* HEADER */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0 0 3rem;
}

.header .nav {
    background-color: rgba(255, 255, 255, 0.05);
    width: 60vw;
    height: 12vh;
    border-bottom-left-radius: 2rem;
}

.header .nav ul {
    display: flex;
    justify-content: space-around;
    padding: 3rem;
    gap: 1rem;
}

.header .nav ul li {
    list-style-type: none;
    height: 7vh;
}

.header .nav ul li a {
    text-decoration: none;
    color: var(--color-primary);
}

.header .nav ul li:hover {
    border-bottom: 1px solid white;
}

/* MAIN */

.conteudo .box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70vh;
    margin-top: 2rem;
    font-size: 1.2rem;
}

.conteudo .box .box-div-1 p {
    margin-bottom: 1rem;
}

.box-div-1 p:first-child {
    font-size: 2rem;
}

.box-div-1 p:nth-child(2) {
    font-size: 10rem;
    font-weight: 700;
}

.conteudo .box .box-div-2 {
    background-color: var(--color-primary);
    color: black;
    width: 20vw;
    height: 35vh;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
}